<%= form_tag @article, class: 'articles-form', method: save_method(@article) do %>
  <section class="article article-editor">
    <header>
      <%= text_field_tag :title, @article.title, class: "article-title #{error?(@article, :title)}",
            placeholder: 'Insert the title', data: { validate: 'presence' } %>
      <p class="article-credits">
        <% if @article.persisted? %>
          By <%= @article.author %>
        <% else %>
          By <%= text_field_tag :author, @article.author, class: "article-author #{error?(@article, :author)}",
                placeholder: 'your name', data: { validate: 'presence' } %>
        <% end %>
        in <%= text_field_tag :category, @article.category, class: "article-category #{error?(@article, :category)}",
              placeholder: 'a category', data: { validate: 'presence' } %>
      </p>
    </header>
    <article>
      <%= text_area_tag :text, @article.text, class: "article-text #{error?(@article, :text)}",
            placeholder: "Write here your **#{AwesomeWords.sample}** article.\nPowered by *markdown*",
            data: { validate: 'presence' } %>
    </article>
  </section>

  <footer class="article-bar">
    <%= hidden_field_tag :number_of_words, @article.number_of_words, class: 'article-number' %>
    <span class="word-count">
      <%= material_icon.subject.css_class('small') %>
      <span class="word-count-value"><%= @article.number_of_words %></span> words
    </span>
    <span class="read-time">
      <%= material_icon.timer.css_class('small') %>
      <span class="read-time-value"><%= @article.read_time %></span> min
    </span>
    <span class="save">
      <%= save_button(@article) %>
    </span>
  </footer>

<% end %>

<script>
// Autosize
autosize($('.article-editor textarea'));

// Focus on title if article is new.
// Otherwise, put the cursor at the end of the text.
<% if @article.persisted? %>
  $(".article-text").focus();
<% else %>
  $(".article-title").focus();
<% end %>

</script>
