<%= form_tag @article, class: 'articles-form', method: save_method(@article) do %>
  <section class="article article-editor">
    <header>
      <%= text_editor_field @article, :title, 'Insert the title' %>
      <p class="article-credits">
        <% if @article.persisted? %>
          By <%= @article.author %>
        <% else %>
          By <%= text_editor_field @article, :author, 'your name' %>
        <% end %>
        in <%= text_editor_field @article, :category, 'a category' %>
      </p>
    </header>
    <article>
      <%= text_area_tag :text, @article.text, class: "article-text #{error?(@article, :text)}",
            placeholder: "Write here your **#{AwesomeWords.sample}** article.",
            data: { validate: 'presence' } %>
    </article>
  </section>

  <footer class="article-bar">
    <span class="markdown-help hide-on-mobile <%= 'new' if @article.new_record? %>">
      <%= link_to 'Markdown help', help_markdown_index_path, target: '_blank' %>
    </span>
    <%= hidden_field_tag :number_of_words, @article.number_of_words, class: 'article-number' %>
    <span class="word-count">
      <%= material_icon.subject.css_class('small') %>
      <span class="word-count-value"><%= @article.number_of_words %></span> words
    </span>
    <span class="read-time">
      <%= material_icon.timer.css_class('small') %>
      <span class="read-time-value"><%= @article.read_time %></span> min
    </span>
    <span class="save">
      <%= save_button(@article) %>
    </span>
  </footer>

<% end %>

<script>
// Autosize
autosize($('.article-editor textarea'));

// Focus on title if article is new.
// Otherwise, put the cursor at the end of the text.
<% if @article.persisted? %>
  $(".article-text").focus();
<% else %>
  $(".article-title").focus();
<% end %>

</script>
