<!DOCTYPE html>
<html>
<head>
  <title>Kip</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,300,300italic|Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Favicons -->
  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128" />
  <!-- End of favicons -->
</head>
<body>

<%= render partial: 'header' %>

<%= yield %>

</body>
</html>
